.divLotto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}


* {
    margin: 0px;
    padding: 0px;
  }
  
  .m{
    display: flex;
    align-items: center;
  
    width: 80vw;
    margin-left: 10vw;
  
    margin-top: 20px;
    flex-direction: column;
  }
  
  .sec {
    width: 80%;
    padding: 20px;
    border: 2px dotted rgb(171, 171, 171);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .fm {
    width: 100%;
  }
  
  .fdiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .d1, .dv2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sp0, .sp1, .sp2, .sp3, .sp4 {
    display: inline-flex;
    width: 50px;
    height: 50px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-weight: bold;
  }
  
  .spp {
    color: black;
    font-size: xx-large;
  }
  
  .sp0 {
    background-color: #ff9900;
  }
  
  .sp1 {
    background-color: #669900;
  }
  
  .sp2 {
    background-color: #006666;
  }
  
  .sp3 {
    background-color: #0000cc;
  }
  
  .sp4 {
    background-color: #6600cc;
  }
  
  
  
  .divp{
    color: blue;
  }

  .bt{
    background-color: blanchedalmond;
    color: aliceblue;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: darkblue;

    
  }

    
  .bt:hover {
    background-color:darkslateblue;
    cursor: pointer;
  }


 